.Create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    width: 700px;
    height: 800px;
    background-color: white;
    border: solid black;
    padding: 0px;
}


form{
    width: 500px;
    border: solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;  
    margin: 10px;
    padding: 10px;
}


form>input{
    margin: 10px;
}


.btnContainer{
    margin-top: 15px;
    width: 100px;
}