body{
  background-color: brown;
}




.App{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: fit-content;
}



.ListContainer{

  width: auto;
  border: solid black;
  height: fit-content;
  margin: 10px;
}

.ListContainer>tr{
  height: 4vh;
}

.PrimaryContainer{
  padding: 2vh;
  height: fit-content;
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: solid black;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

input{
  margin: 3vh;
}

a{
  text-decoration: none;
  color: black;
}

form{
  display: flex;
  flex-direction: column;
  margin: 20px;
}



.ListContainer>tr>th{
  width: 100%;
  padding: 15px;
  margin-top: auto;
}

.ListTitle{
  background-color: lightcoral;
}

tr>.Content{
  border: 1px solid #74706F;
  
}


th>button:hover{
  background-color: black;
  color: red;
}

th>a:hover{
  color:coral ;
 
}