
.Total{
    height: fit-content;
    width: fit-content;
}

  .btnContainer{
    display: flex;
  }

.btnContainer>div{
    width: fit-content;
    margin: 10px;
}

div>button{
    width:10vh;
}

a>button{
    width:10vh;
}





