

.Total{
    height: fit-content;
    width: fit-content;
}


.ListContainer>tr>th{
    padding: 15px;
    background-color: lightcoral;
    margin-top: auto;
  }

  .btnContainer{
      display: flex;
      height: 40px;  
  }

